# Copyright (c) Microsoft Corporation. All rights reserved.
# Licensed under the MIT License.

name: $(BuildDefinitionName)_$(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)
trigger:
  branches:
    include:
    - main
pr:
  branches:
    include:
      - dev
variables:
  buildPlatform: 'Any CPU'
  buildConfiguration: 'Release'
  ProductBinPath: '$(Build.SourcesDirectory)\src\kibali\bin\$(BuildConfiguration)'
  kibaliToolversion: 
resources:
  repositories:
  - repository: 1ESPipelineTemplates
    type: git
    name: 1ESPipelineTemplates/1ESPipelineTemplates
    ref: refs/tags/release

extends:
  template: v1/1ES.Official.PipelineTemplate.yml@1ESPipelineTemplates
  parameters:
    pool:
      name: Azure-Pipelines-1ESPT-ExDShared
      image: windows-latest
      os: windows
    customBuildTags:
    - ES365AIMigrationTooling
    stages:
    - stage: build
      jobs:
      - job: build
        templateContext:
          outputs:
          - output: pipelineArtifact
            displayName: 'Publish Artifact: Nugets'
            artifactName: Nugets
            targetPath: '$(Build.ArtifactStagingDirectory)/Nugets'
          - output: pipelineArtifact
            displayName: 'Publish Artifact: kibali'
            artifactName: Microsoft.Graph.Kibali-v$(kibaliToolversion)
            targetPath: '$(Build.ArtifactStagingDirectory)/Microsoft.Graph.Kibali-v$(kibaliToolversion)'
        steps:
        - task: UseDotNet@2
          displayName: 'Use .NET 6'
          inputs:
            version: 6.x
        
        - task: UseDotNet@2
          displayName: 'Use .NET 8'
          inputs:
            version: 8.x

        - task: PoliCheck@1
          displayName: 'Run PoliCheck "/src"'
          inputs:
            inputType: CmdLine
            cmdLineArgs: '/F:$(Build.SourcesDirectory)/src /T:9 /Sev:"1|2" /PE:2 /O:poli_result_src.xml'
       
        - task: PoliCheck@1
          displayName: 'Run PoliCheck "/test"'
          inputs:
            inputType: CmdLine
            cmdLineArgs: '/F:$(Build.SourcesDirectory)/test /T:9 /Sev:"1|2" /PE:2 /O:poli_result_test.xml'
        
        # Install the nuget tool.
        - task: NuGetToolInstaller@0
          displayName: 'Use NuGet >=5.2.0'
          inputs:
            versionSpec: '>=5.2.0'
            checkLatest: true
        
        # Build the Product project
        - task: DotNetCoreCLI@2
          displayName: 'build'
          inputs:
            projects: '$(Build.SourcesDirectory)\kibali.sln'
            arguments: '--configuration $(BuildConfiguration) --no-incremental'
        
        # Run the Unit test
        - task: DotNetCoreCLI@2
          displayName: 'test'
          inputs:
            command: test
            projects: '$(Build.SourcesDirectory)\kibali.sln'
            arguments: '--configuration $(BuildConfiguration) --no-build'
        
        - task: AntiMalware@3
          displayName: 'Run MpCmdRun.exe - ProductBinPath'
          inputs:
            FileDirPath: '$(ProductBinPath)'
          enabled: false
        
        - task: BinSkim@3
          displayName: 'Run BinSkim - Product Binaries'
          inputs:
            InputType: Basic
            AnalyzeTarget: '$(ProductBinPath)\**\Kibali.dll'
            AnalyzeSymPath: '$(ProductBinPath)'
            AnalyzeVerbose: true
            AnalyzeHashes: true
            AnalyzeEnvironment: true
        
        - task: PublishSecurityAnalysisLogs@2
          displayName: 'Publish Security Analysis Logs'
          inputs:
            ArtifactName: SecurityLogs
        
        - task: PostAnalysis@1
          displayName: 'Post Analysis'
          inputs:
            BinSkim: true
            CredScan: false
            PoliCheck: true
        
        - task: EsrpCodeSigning@5
          displayName: 'ESRP CodeSigning'
          inputs:
            ConnectedServiceName: 'Federated DevX ESRP Managed Identity Connection'
            AppRegistrationClientId: '65035b7f-7357-4f29-bf25-c5ee5c3949f8'
            AppRegistrationTenantId: 'cdc5aeea-15c5-4db6-b079-fcadd2505dc2'
            AuthAKVName: 'akv-prod-eastus'
            AuthCertName: 'ReferenceLibraryPrivateCert'
            AuthSignCertName: 'ReferencePackagePublisherCertificate'
            FolderPath: src
            signConfigType: inlineSignParams
            inlineOperation: |
              [
                  {
                      "keyCode": "CP-230012",
                      "operationSetCode": "SigntoolSign",
                      "parameters": [
                      {
                          "parameterName": "OpusName",
                          "parameterValue": "Microsoft"
                      },
                      {
                          "parameterName": "OpusInfo",
                          "parameterValue": "http://www.microsoft.com"
                      },
                      {
                          "parameterName": "FileDigest",
                          "parameterValue": "/fd \"SHA256\""
                      },
                      {
                          "parameterName": "PageHash",
                          "parameterValue": "/NPH"
                      },
                      {
                          "parameterName": "TimeStamp",
                          "parameterValue": "/tr \"http://rfc3161.gtm.corp.microsoft.com/TSS/HttpTspServer\" /td sha256"
                      }
                      ],
                      "toolName": "sign",
                      "toolVersion": "1.0"
                  },
                  {
                      "keyCode": "CP-230012",
                      "operationSetCode": "SigntoolVerify",
                      "parameters": [ ],
                      "toolName": "sign",
                      "toolVersion": "1.0"
                  }
              ]
            SessionTimeout: 20
            MaxConcurrency: 50
            MaxRetryAttempts: 5
            PendingAnalysisWaitTimeoutMinutes: 5
        
        # Pack
        - pwsh: dotnet pack $(Build.SourcesDirectory)/src/kibali/Kibali.csproj -o $(Build.ArtifactStagingDirectory) --configuration $(BuildConfiguration) --no-build --include-symbols --include-source /p:SymbolPackageFormat=snupkg
          displayName: 'pack Kibali'
        
        # Pack
        - pwsh: dotnet pack $(Build.SourcesDirectory)/src/kibaliTool/KibaliTool.csproj -o $(Build.ArtifactStagingDirectory) --configuration $(BuildConfiguration) --no-build --include-symbols --include-source /p:SymbolPackageFormat=snupkg
          displayName: 'pack KibaliTool'
        
        - task: EsrpCodeSigning@5
          displayName: 'ESRP CodeSigning Nuget Packages'
          inputs:
            ConnectedServiceName: 'Federated DevX ESRP Managed Identity Connection'
            AppRegistrationClientId: '65035b7f-7357-4f29-bf25-c5ee5c3949f8'
            AppRegistrationTenantId: 'cdc5aeea-15c5-4db6-b079-fcadd2505dc2'
            AuthAKVName: 'akv-prod-eastus'
            AuthCertName: 'ReferenceLibraryPrivateCert'
            AuthSignCertName: 'ReferencePackagePublisherCertificate'
            FolderPath: '$(Build.ArtifactStagingDirectory)'
            Pattern: '*.nupkg'
            signConfigType: inlineSignParams
            inlineOperation: |
              [
                  {
                      "keyCode": "CP-401405",
                      "operationSetCode": "NuGetSign",
                      "parameters": [ ],
                      "toolName": "sign",
                      "toolVersion": "1.0"
                  },
                  {
                      "keyCode": "CP-401405",
                      "operationSetCode": "NuGetVerify",
                      "parameters": [ ],
                      "toolName": "sign",
                      "toolVersion": "1.0"
                  }
              ]
            SessionTimeout: 20
            MaxConcurrency: 50
            MaxRetryAttempts: 5
            PendingAnalysisWaitTimeoutMinutes: 5
        
        - task: PowerShell@2
          displayName: "Get kibali's version-number from .csproj"
          inputs:
            targetType: 'inline'
            script: |
              $xml = [Xml] (Get-Content .\src\kibaliTool\KibaliTool.csproj)
              $version = $xml.Project.PropertyGroup.Version
              echo $version
              echo "##vso[task.setvariable variable=kibaliToolversion]$version"  
        
        - task: DotNetCoreCLI@2
          displayName: publish kibalitool as executable
          inputs:
            command: 'publish'
            arguments: -c Release --runtime win-x64 /p:PublishSingleFile=true --self-contained --output $(Build.ArtifactStagingDirectory)/Microsoft.Graph.Kibali-v$(kibaliToolversion) -p:PublishTrimmed=true
            projects: 'src/kibaliTool/KibaliTool.csproj'
            publishWebProjects: False
            zipAfterPublish: false
        
        - task: CopyFiles@2
          displayName: Prepare staging folder for upload
          inputs:
            targetFolder: $(Build.ArtifactStagingDirectory)/Nugets
            sourceFolder: $(Build.ArtifactStagingDirectory)
            content: '*.nupkg'
    - stage: deploy
      condition: and(contains(variables['build.sourceBranch'], 'refs/heads/main'), succeeded())
      dependsOn: build
      jobs:
      - job: getVersion
        displayName: 'Get Version'
        steps:
        - task: PowerShell@2
          name: extractVersion
          displayName: "Extract version from .csproj"
          inputs:
            targetType: 'inline'
            script: |
              $xml = [Xml] (Get-Content .\src\kibaliTool\KibaliTool.csproj)
              $version = $xml.Project.PropertyGroup.Version
              echo "Version: $version"
              echo "##vso[task.setvariable variable=kibaliToolversion;isOutput=true]$version"
      - deployment: deploy_kibaliTool
        displayName: 'Deploy KibaliTool'
        dependsOn: getVersion
        variables:
          kibaliToolversion: $[ dependencies.getVersion.outputs['extractVersion.kibaliToolversion'] ]
        environment: nuget-org
        templateContext:
            type: releaseJob
            isProduction: true
            inputs:
              - input: pipelineArtifact
                artifactName: Nugets
                targetPath: $(Build.ArtifactStagingDirectory)/Nugets
              - input: pipelineArtifact
                artifactName: Microsoft.Graph.Kibali-v$(kibaliToolversion)
                targetPath: '$(Build.ArtifactStagingDirectory)/Microsoft.Graph.Kibali-v$(kibaliToolversion)'
        strategy:
          runOnce:
            deploy:
              pool:
                vmImage: ubuntu-latest
              steps:
              - pwsh: |
                  $artifactName = Get-ChildItem -Path $(Pipeline.Workspace)\Nugets -Filter Microsoft.Graph.*.nupkg -recurse | select -First 1
                  $artifactVersion= $artifactName.Name -replace "Microsoft.Graph.Kibali", "" -replace ".nupkg", ""
                  #Set Variable $artifactName and $artifactVersion
                  Write-Host "##vso[task.setvariable variable=artifactVersion; isSecret=false; isOutput=true]$artifactVersion"
                  Write-Host "##vso[task.setvariable variable=artifactName; isSecret=false; isOutput=true]$artifactName.FullName"
                  echo "$artifactName"
                  echo "$artifactVersion"
                displayName: 'Fetch Artifact Name'
              - task: 1ES.PublishNuget@1
                displayName: 'NuGet push'
                inputs:
                  packageParentPath: '$(Pipeline.Workspace)'
                  packagesToPush: '$(Pipeline.Workspace)/Nugets/Microsoft.Graph.Kibali.*.nupkg'
                  nuGetFeedType: external
                  publishPackageMetadata: true
                  publishFeedCredentials: 'microsoftgraph NuGet connection'
              - task: GitHubRelease@1
                displayName: 'GitHub release (KibaliTool v$(artifactVersion))'
                condition: succeededOrFailed()
                inputs:
                  gitHubConnection: 'GitHub - thewahome'
                  action: edit
                  tagSource: userSpecifiedTag
                  tag: '$(artifactVersion)'
                  title: 'KibaliTool v$(artifactVersion)'
                  assets: '$(Pipeline.Workspace)\**\*.exe'
                  changeLogType: issueBased
